@model DadJokeGenerator.DTO.JokeModel
@{
}

<div>
    <div class="row">
        <div class="col" style="color: white; outline-style: dotted; outline-color: darkred">
            <h1 style="outline-color: white;">@Model.Joke</h1>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="align-items: flex-start; margin-top: 10px;">
                    <a class="btn btn-outline-light" asp-controller="Jokes" asp-action="ToUpperMod" asp-route-Joke="@Model.Joke">ToUpper</a>
                </div>
            </div>
            <div class="row" style="align-items: flex-start; margin-top: 10px;">
                <div class="col">
                    <a class="btn btn-outline-light" asp-controller="Jokes" asp-action="QuestionMarkMod" asp-route-Joke="@Model.Joke">???</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style=" align-items:flex-start; margin-top: 10px;">
            <a style ="margin-right: 1cm;" class="btn btn-outline-light" asp-controller="Jokes" asp-action="Index">New Joke</a>
            <a class="btn btn-outline-light" asp-controller="Jokes" asp-action="viewHistory">All Jokes</a>
        </div>
    </div>
</div>
