@model DadJokeGenerator.DTO.JokeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
    <a class="btn btn-outline-light" asp-controller="Jokes" asp-action="Index">Get A Dad Joke!</a>
</div>
